[Desktop Entry]
Name=PerenkeGain
GenericName=Editor de audio
Comment=Editor de audio: waveform, splitter por silencio, EQ 31 bandas, nivelador y normalización por lotes
Exec=PerenkeGain %F
Icon=perenkegain
Terminal=false
Type=Application
Categories=AudioVideo;Music;
MimeType=audio/wav;audio/mpeg;audio/flac;audio/ogg;
StartupWMClass=PerenkeGain
Version=1.0
